html {
  --color-theme: rgb(25, 189, 211);
  --color-text: rgb(82, 82, 82);
  --color-text--light: rgb(109, 107, 107);
  font-size: 62.5%;
  font-family: "Lexend Deca", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  border-top: 1rem solid white;
  border-bottom: 1rem solid white;
  border-left: 1rem solid white;
  border-right: 1rem solid white;
  /* padding: 3rem 1rem; */
}

.text {
  font-size: 1.3rem;
  color: var(--color-text);
  line-height: 1.8;
}

.text--bold {
  font-size: 1.4rem;
  font-weight: bold;
}

.text--theme {
  color: var(--color-theme);
}

.text--info {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 5rem;
  color: var(--color-text--light);
}

.head-1 {
  font-size: 4.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.3;
  color: var(--color-text--light);
  margin-bottom: 2rem;
}

.head-2 {
  text-transform: uppercase;
  color: var(--color-theme);
  font-size: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-theme);
  margin-bottom: 2rem;
}

.head-icon {
  fill: var(--color-theme);
  width: 2rem;
  height: 2rem;
}

.l-align {
  text-align: left;
}

.r-align {
  text-align: right;
}

.c-align {
  text-align: center;
}

/* ///////////////////////////////////////////////////////// */
/* /// LAYOUT */
/* ///////////////////////////////////////////////////////// */
.resume {
  width: 800px;
  height: 989.94px;
  /* height: 1131.36px; */
  /* height: 100%; */

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4rem;
}

.section {
  margin-bottom: 5rem;
}

.sub-section {
  margin-bottom: 1rem;
}

.right,
.left {
  margin-top: 5rem;
}
.middle {
  padding: 5rem 3rem 0 3rem;
  border-radius: 200px;
  background-color: rgb(25, 189, 211, 0.2);
  height: 100%;
}

.profile-img {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 3rem;
}
